<a href="https://colab.research.google.com/github/KaueAbbe/Challenge_Data_Science1_Alura/blob/main/Semana%201/DSDataMining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color = 'red' size = 10 > DataMining </font>
#### **Autor:** Kaue Hermann Abbehausen
#### **Linkedin:** https://www.linkedin.com/in/kaue-abbehausen-5b1922165/
## <font color = 'green'> Contextualizando</font>
Eu atuo como cientista de dados pela operadora de telecomunicações Alura Voz. Na reunião inicial com as pessoas responsáveis pela área de vendas da empresa, foi explicada a importância de se reduzir a Taxa de Evasão de Clientes, conhecido como **Churn Rate**. Basicamente, o **Churn Rate indica o quanto a empresa perdeu de receita ou clientes em um período de tempo.**

Eu sugeri, como passo inicial, a identificação de clientes que teriam uma maior chance de deixar a empresa. Para isso, expliquei que é interessante investigar algumas características de clientes ou dos planos de clientes para tentar CLASSIFICAR estas pessoas como potenciais candidatas a deixar a empresa ou não.

Assim, solicitei o conjunto de dados para começar a explorar, tratar e modelar a partir de agora. Em seguida, o foco será na otimização de cada um dos modelos com a finalidade de obter o melhor resultado para a tomada de decisão da Alura Voz.

* **Os dados foram retirados de uma API e podem ser encontrado no link abaixo:**

https://github.com/sthemonica/alura-voz/blob/main/Dados/Telco-Customer-Churn.json

## <font color = 'green' >Importe bibliotecas e leia o dataset</font>

In [ ]:
import pandas as pd
df = pd.read_json('https://raw.githubusercontent.com/sthemonica/alura-voz/main/Dados/Telco-Customer-Churn.json')
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

## <font color = 'green' >Compreendendo os dados</font>
#### Quantas e quais colunas tem?
* `customerID`: número de identificação único de cada cliente
* `Churn`: se o cliente deixou ou não a empresa 
* `gender`: gênero (masculino e feminino) 
* `SeniorCitizen`: informação sobre um cliente ter ou não idade igual ou maior que 65 anos 
* `Partner`:  se o cliente possui ou não um parceiro ou parceira
* `Dependents`: se o cliente possui ou não dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de serviço telefônico 
* `MultipleLines`: assisnatura de mais de uma linha de telefone 
* `InternetService`: assinatura de um provedor internet 
* `OnlineSecurity`: assinatura adicional de segurança online 
* `OnlineBackup`: assinatura adicional de backup online 
* `DeviceProtection`: assinatura adicional de proteção no dispositivo 
* `TechSupport`: assinatura adicional de suporte técnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo 
* `StreamingMovies`: assinatura de streaming de filmes 
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os serviços do cliente por mês
* `Charges.Total`: total gasto pelo cliente

In [ ]:
print(df.columns,'\nTem ',len(df.columns),' Colunas')

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')
Tem  6  Colunas

In [ ]:
df_customer = pd.json_normalize(df.customer)
df_phone = pd.json_normalize(df.phone)
df_internet = pd.json_normalize(df.internet)
df_account = pd.json_normalize(df.account)

#### O que tem em cada colunas principal?
* **CustomerID**: identificação do cliente
* **Churn**: se evadiu ou não
* **customer:**
Informa: se tem dependentes, se tem parceiro, se é Idoso, qual o gênero e se tem posse

* **Phone:**
Informa se tem serviço telefônico e se tem múltiplas linhas
* **Internet:**
Possui: Tipo de serviço de internet, se possui segurança online, backup online, aparelhos de proteção, suporte técnico, streaming de tv e streaming de filmes
* **Account:**
Possui tipo de contrato, faturamento sem papel, método de pagamento, cobrança mensal e cobrança total

In [ ]:
df_customer.head()

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3

In [ ]:
df_phone.head()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [ ]:
df_internet.head()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [ ]:
df_account.head()

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

## Juntandos os dataframes

In [ ]:
dados_unidos = pd.concat([df[['customerID','Churn']],df_customer,df_phone,df_account,df_internet,], axis = 1)
dados_unidos.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.6,593.3,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.9,542.4,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.9,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.0,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.9,267.4,Fiber optic,No,No,No,Yes,Yes,No

## Quais os tipos de dados no dataframe?

**Variáveis Quantitativas:**
* Charges.monthly
* Charges.Total
* Tenure

**Variáveis Qualitativas:**
* CostumerID
* Gender
* Contract
* Phone Service
* Churn
* SeniorCitizen
* Partner
* Dependents
* MultipleLines
* InternetService
* OnlineSecurity
* OnlineBackup
* DeviceProtection
* TechSupport
* StreamingTV
* StreamingMovies
* Contract
* PaperlessBilling
* PaymentMethod


**OBS:**

* Coluna Charges.Total tem tipo object. Mudar para tipo float
* Coluna Churn tem uma variável indeterminada. Excluir esses dados
* Procurar qual o significado dos valores de tenure

In [ ]:
dados_unidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   Contract          7267 non-null   object
 10  PaperlessBilling  7267 non-null   object
 11  PaymentMethod     7267 non-null   object
 12  Charges.Monthly   7267 non-null   float64
 13  Charges.Total     7267 non-null   object
 14  InternetService   7267 non-null   object
 15  OnlineSecurity    7267 non-null   object
 16  OnlineBackup      7267 non-null   object
 17  DeviceProtection  7267 non-null   object
 18  TechSupport       7267 non-null   object
 19  StreamingTV       7267 non-null   object
 20  StreamingMovies   7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
for i in dados_unidos.columns:
  print(f'{i}: {dados_unidos[str(i)].unique()}')

customerID: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Churn: ['No' 'Yes' '']
gender: ['Female' 'Male']
SeniorCitizen: [0 1]
Partner: ['Yes' 'No']
Dependents: ['Yes' 'No']
tenure: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
PhoneService: ['Yes' 'No']
MultipleLines: ['No' 'Yes' 'No phone service']
Contract: ['One year' 'Month-to-month' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
Charges.Monthly: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Charges.Total: ['593.3' '542.4' '280.85' ... '742.9' '4627.65' '3707.6']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['Yes' 'No' 'No internet service']
StreamingTV: ['Yes' 'No' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']

## Inconsitências 
* Tem linhas duplicadas? **não**
* Tem valores missing? **Não**
* Coluna Charges.Total tem tipo object. Mudar para tipo float
* Coluna Charges.Total tem valores vazios. Trocar esses valores por zero. Está vazio porque é cliente novo
* Coluna Churn tem uma variável indeterminada. Excluir esses dados

In [ ]:
dados_unidos.info() #Não há valores missing

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   Contract          7267 non-null   object
 10  PaperlessBilling  7267 non-null   object
 11  PaymentMethod     7267 non-null   object
 12  Charges.Monthly   7267 non-null   float64
 13  Charges.Total     7267 non-null   object
 14  InternetService   7267 non-null   object
 15  OnlineSecurity    7267 non-null   object
 16  OnlineBackup      7267 non-null   object
 17  DeviceProtection  7267 non-null   object
 18  TechSupport       7267 non-null   object
 19  StreamingTV       7267 non-null   object
 20  StreamingMovies   7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [ ]:
# É interessante ver se há valores duplicados na coluna de ID, pois se tiver então há incongruências nos dados dos clientes.
# Se não houver valores repetidos nessas colunas então não há valores duplicados
len(dados_unidos['customerID'].unique()) == len(dados_unidos)
#Será que todos os dados da ID estão de acordo?

True

In [ ]:
dados_unidos['customerID'].unique()[0]

'0002-ORFBO'

In [ ]:
for i in dados_unidos['customerID'].unique():
  if len(i) != 10: print(i)
#Não há ID com menos ou mais caracteres. Não há inconsistências com a coluna ID

In [ ]:
dados_unidos['Churn'].unique()

array(['No', 'Yes', ''], dtype=object)

In [ ]:
dados_unidos[dados_unidos['Churn'].isin([''])]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Month-to-month,...,Bank transfer (automatic),79.00,929.3,Fiber optic,Yes,No,No,No,No,No
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,Two year,...,Credit card (automatic),19.90,1355.1,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,One year,...,Electronic check,58.75,1696.2,DSL,Yes,Yes,No,Yes,No,No
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,Month-to-month,...,Credit card (automatic),59.90,287.85,DSL,Yes,Yes,No,Yes,No,No
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,One year,...,Bank transfer (automatic),103.15,6792.45,Fiber optic,No,Yes,Yes,No,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,One year,...,Mailed check,54.25,773.2,DSL,No,Yes,No,No,No,No
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,Month-to-month,...,Bank transfer (automatic),40.65,2070.75,DSL,Yes,No,No,No,Yes,No
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Electronic check,76.25,684.85,Fiber optic,No,No,No,No,No,No
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,Two year,...,Bank transfer (automatic),19.25,1372.9,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,Month-to-month,...,Mailed check,19.55,658.95,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [ ]:
dados_unidos.query('PhoneService == "No" and MultipleLines != "No phone service"')

Empty DataFrame
Columns: [customerID, Churn, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, Contract, PaperlessBilling, PaymentMethod, Charges.Monthly, Charges.Total, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies]
Index: []

[0 rows x 21 columns]

In [ ]:
dados_unidos[['Charges.Total']]

     Charges.Total
0            593.3
1            542.4
2           280.85
3          1237.85
4            267.4
...            ...
7262         742.9
7263        1873.7
7264         92.75
7265       4627.65
7266        3707.6

[7267 rows x 1 columns]

In [ ]:
dados_unidos[dados_unidos['Charges.Total'].isin([" "])]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,Two year,...,Credit card (automatic),56.05,,DSL,Yes,Yes,Yes,Yes,Yes,No
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,20.00,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,Two year,...,Bank transfer (automatic),61.90,,DSL,Yes,Yes,No,Yes,No,No
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,One year,...,Mailed check,19.70,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,Two year,...,Mailed check,20.25,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,25.35,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,73.35,,DSL,No,Yes,Yes,Yes,Yes,No
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,25.75,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,Two year,...,Bank transfer (automatic),52.55,,DSL,Yes,No,Yes,Yes,Yes,No
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,80.85,,DSL,Yes,Yes,Yes,No,Yes,Yes
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,19.85,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [ ]:
# Chegando todas as colunas por valores vazios
for i in dados_unidos.columns:
  Q = len(dados_unidos[dados_unidos[str(i)].isin([''," "])])
  print(f'Na coluna {i} tem {Q} valores vazios')

Na coluna customerID tem 0 valores vazios
Na coluna Churn tem 224 valores vazios
Na coluna gender tem 0 valores vazios
Na coluna SeniorCitizen tem 0 valores vazios
Na coluna Partner tem 0 valores vazios
Na coluna Dependents tem 0 valores vazios
Na coluna tenure tem 0 valores vazios
Na coluna PhoneService tem 0 valores vazios
Na coluna MultipleLines tem 0 valores vazios
Na coluna Contract tem 0 valores vazios
Na coluna PaperlessBilling tem 0 valores vazios
Na coluna PaymentMethod tem 0 valores vazios
Na coluna Charges.Monthly tem 0 valores vazios
Na coluna Charges.Total tem 11 valores vazios
Na coluna InternetService tem 0 valores vazios
Na coluna OnlineSecurity tem 0 valores vazios
Na coluna OnlineBackup tem 0 valores vazios
Na coluna DeviceProtection tem 0 valores vazios
Na coluna TechSupport tem 0 valores vazios
Na coluna StreamingTV tem 0 valores vazios
Na coluna StreamingMovies tem 0 valores vazios

In [ ]:
#Vericando a parte de internet
dados_unidos.query('InternetService == "No" ')[['OnlineSecurity','OnlineBackup',\
                                                'DeviceProtection','TechSupport','StreamingTV',\
                                                'StreamingMovies']]

,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
20,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
23,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
24,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
27,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
28,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
...,...,...,...,...,...,...
7250,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7252,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7256,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7257,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
7261,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [ ]:
for i in ['OnlineSecurity','OnlineBackup', 'DeviceProtection','TechSupport','StreamingTV','StreamingMovies']:
    print('Internet Service = No: ',len(dados_unidos.query('InternetService == "No" ')[str(i)].unique()))
    print('Internet Service = Fiber Optic:',len(dados_unidos.query('InternetService == "Fiber optic" ')[str(i)].unique()))
    print('Internet Service = DSL:',len(dados_unidos.query('InternetService == "DSL" ')[str(i)].unique()))
#Como a saída é igual a 1 então não há dados inconsistentes em relação a pessoa não ter serviço de internet e ter algo diferente 
#de sem serviço de internet

Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2
Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2
Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2
Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2
Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2
Internet Service = No:  1
Internet Service = Fiber Optic: 2
Internet Service = DSL: 2

## Corrigindo Inconsitências 
* Coluna Charges.Total tem tipo object. Mudar para tipo float
* Coluna Charges.Total tem valores vazios. Trocar esses valores por zero
* Coluna Churn tem uma variável indeterminada. Excluir esses dados

### Mudando linhas do Charges.Total

In [ ]:
dados_unidos[dados_unidos['Charges.Total'].isin([" "])]

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,Two year,...,Credit card (automatic),56.05,,DSL,Yes,Yes,Yes,Yes,Yes,No
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,20.00,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,Two year,...,Bank transfer (automatic),61.90,,DSL,Yes,Yes,No,Yes,No,No
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,One year,...,Mailed check,19.70,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,Two year,...,Mailed check,20.25,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,25.35,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,73.35,,DSL,No,Yes,Yes,Yes,Yes,No
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,Two year,...,Mailed check,25.75,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,Two year,...,Bank transfer (automatic),52.55,,DSL,Yes,No,Yes,Yes,Yes,No
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,80.85,,DSL,Yes,Yes,Yes,No,Yes,Yes
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,Two year,...,Mailed check,19.85,,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service

In [ ]:
dados_unidos['Charges.Total'] = dados_unidos['Charges.Total'].replace(" ",0)

### Excluindo linhas do Churn

In [ ]:
index = dados_unidos[dados_unidos['Churn'].isin([''])].index

In [ ]:
dados_unidos = dados_unidos.drop(labels = index, axis = 0)
dados_unidos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.60,593.3,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.90,542.4,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.90,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.00,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.90,267.4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,One year,...,Mailed check,55.15,742.9,DSL,Yes,No,No,Yes,No,No
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Month-to-month,...,Electronic check,85.10,1873.7,Fiber optic,No,No,No,No,No,Yes
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,Month-to-month,...,Mailed check,50.30,92.75,DSL,No,Yes,No,No,No,No
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,Two year,...,Mailed check,67.85,4627.65,DSL,Yes,No,Yes,Yes,No,Yes
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,Two year,...,Electronic check,59.00,3707.6,DSL,Yes,Yes,Yes,No,Yes,Yes

In [ ]:
#Reorganizando o index
dados_unidos.index = range(dados_unidos.shape[0])
dados_unidos

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,Contract,...,PaymentMethod,Charges.Monthly,Charges.Total,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.60,593.3,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.90,542.4,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.90,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.00,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.90,267.4,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,One year,...,Mailed check,55.15,742.9,DSL,Yes,No,No,Yes,No,No
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Month-to-month,...,Electronic check,85.10,1873.7,Fiber optic,No,No,No,No,No,Yes
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,Month-to-month,...,Mailed check,50.30,92.75,DSL,No,Yes,No,No,No,No
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,Two year,...,Mailed check,67.85,4627.65,DSL,Yes,No,Yes,Yes,No,Yes
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,Two year,...,Electronic check,59.00,3707.6,DSL,Yes,Yes,Yes,No,Yes,Yes

### Mudando tipo do Charges.Total

In [ ]:
dados_unidos['Charges.Total'] = pd.to_numeric(dados_unidos['Charges.Total'])
dados_unidos.dtypes

customerID           object
Churn                object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
Contract             object
PaperlessBilling     object
PaymentMethod        object
Charges.Monthly     float64
Charges.Total       float64
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
dtype: object

## Traduzindo as colunas
* `customerID`: número de identificação único de cada cliente
* `Churn`: se o cliente deixou ou não a empresa 
* `gender`: gênero (masculino e feminino) 
* `SeniorCitizen`: informação sobre um cliente ter ou não idade igual ou maior que 65 anos 
* `Partner`:  se o cliente possui ou não um parceiro ou parceira
* `Dependents`: se o cliente possui ou não dependentes
* `tenure`:  meses de contrato do cliente
* `PhoneService`: assinatura de serviço telefônico 
* `MultipleLines`: assisnatura de mais de uma linha de telefone 
* `InternetService`: assinatura de um provedor internet 
* `OnlineSecurity`: assinatura adicional de segurança online 
* `OnlineBackup`: assinatura adicional de backup online 
* `DeviceProtection`: assinatura adicional de proteção no dispositivo 
* `TechSupport`: assinatura adicional de suporte técnico, menos tempo de espera
* `StreamingTV`: assinatura de TV a cabo 
* `StreamingMovies`: assinatura de streaming de filmes 
* `Contract`: tipo de contrato
* `PaperlessBilling`: se o cliente prefere receber online a fatura
* `PaymentMethod`: forma de pagamento
* `Charges.Monthly`: total de todos os serviços do cliente por mês
* `Charges.Total`: total gasto pelo cliente

In [ ]:
dados_unidos.columns

Index(['customerID', 'Churn', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'Charges.Monthly', 'Charges.Total',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies'],
      dtype='object')

In [ ]:
## Traduzindo as colunas
dados_unidos.rename(columns = {'customerID':'IDcliente', 'Churn':'Evadiu', 'gender':'Genero', 'SeniorCitizen':'Idoso', 
                     'Partner':'Parceiro',
                     'Dependents':'Dependencia', 'tenure':'Meses_de_contrato', 'PhoneService':'Servico_celular',
                     'MultipleLines':'linhas_multiplas', 'Contract':'Tipo_contrato',
                     'PaperlessBilling':'Fatura_online', 'PaymentMethod':'Metodo_pagamento', 'Charges.Monthly':'Gasto_mensal',
                     'Charges.Total':'Gasto_total','InternetService':'Servico_internet', 'OnlineSecurity':'Seguranca_online'
                     , 'OnlineBackup':'Backup_online', 'DeviceProtection':'Protecao_de_aparelho',
       'TechSupport':'Suporte_tecnico', 'StreamingTV':'Assinatura_tv', 'StreamingMovies':'Assinatura_filme'
    
},inplace = True)

In [ ]:
dados_unidos

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Metodo_pagamento,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.60,593.30,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.90,542.40,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.90,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.00,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.90,267.40,Fiber optic,No,No,No,Yes,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,0,No,No,13,Yes,No,One year,...,Mailed check,55.15,742.90,DSL,Yes,No,No,Yes,No,No
7039,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Month-to-month,...,Electronic check,85.10,1873.70,Fiber optic,No,No,No,No,No,Yes
7040,9992-UJOEL,No,Male,0,No,No,2,Yes,No,Month-to-month,...,Mailed check,50.30,92.75,DSL,No,Yes,No,No,No,No
7041,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,Two year,...,Mailed check,67.85,4627.65,DSL,Yes,No,Yes,Yes,No,Yes
7042,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,Two year,...,Electronic check,59.00,3707.60,DSL,Yes,Yes,Yes,No,Yes,Yes

## Traduzir as linhas

In [ ]:
dados_unidos['Evadiu']=dados_unidos['Evadiu'].map({'Yes':'Sim','No':'Nao'})

In [ ]:
dados_unidos.head()

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Metodo_pagamento,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme
0,0002-ORFBO,Nao,Female,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.6,593.30,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,Nao,Male,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.9,542.40,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Sim,Male,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.9,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Sim,Male,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.0,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Sim,Female,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.9,267.40,Fiber optic,No,No,No,Yes,Yes,No

In [ ]:
dados_unidos['Genero']=dados_unidos['Genero'].map({'Female':'Mulher','Male':'Homem'})

In [ ]:
dados_unidos.head()

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Metodo_pagamento,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme
0,0002-ORFBO,Nao,Mulher,0,Yes,Yes,9,Yes,No,One year,...,Mailed check,65.6,593.30,DSL,No,Yes,No,Yes,Yes,No
1,0003-MKNFE,Nao,Homem,0,No,No,9,Yes,Yes,Month-to-month,...,Mailed check,59.9,542.40,DSL,No,No,No,No,No,Yes
2,0004-TLHLJ,Sim,Homem,0,No,No,4,Yes,No,Month-to-month,...,Electronic check,73.9,280.85,Fiber optic,No,No,Yes,No,No,No
3,0011-IGKFF,Sim,Homem,1,Yes,No,13,Yes,No,Month-to-month,...,Electronic check,98.0,1237.85,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,0013-EXCHZ,Sim,Mulher,1,Yes,No,3,Yes,No,Month-to-month,...,Mailed check,83.9,267.40,Fiber optic,No,No,No,Yes,Yes,No

In [ ]:
dados_unidos['Parceiro']=dados_unidos['Parceiro'].map({'Yes':'Sim','No':'Nao'})
dados_unidos['Dependencia']=dados_unidos['Dependencia'].map({'Yes':'Sim','No':'Nao'})
dados_unidos['Servico_celular']=dados_unidos['Servico_celular'].map({'Yes':'Sim','No':'Nao'})
dados_unidos['linhas_multiplas']=dados_unidos['linhas_multiplas'].map({'Yes':'Sim','No':'Nao','No phone service':'Sem servico celular'})
dados_unidos['Fatura_online']=dados_unidos['Fatura_online'].map({'Yes':'Sim','No':'Nao'})
dados_unidos['Seguranca_online']=dados_unidos['Seguranca_online'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})
dados_unidos['Backup_online']=dados_unidos['Backup_online'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})
dados_unidos['Protecao_de_aparelho']=dados_unidos['Protecao_de_aparelho'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})
dados_unidos['Suporte_tecnico']=dados_unidos['Suporte_tecnico'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})
dados_unidos['Assinatura_tv']=dados_unidos['Assinatura_tv'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})
dados_unidos['Assinatura_filme']=dados_unidos['Assinatura_filme'].map({'Yes':'Sim','No':'Nao','No internet service':'Sem servico internet'})

In [ ]:
dados_unidos.head()

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Metodo_pagamento,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme
0,0002-ORFBO,Nao,Mulher,0,Sim,Sim,9,Sim,Nao,One year,...,Mailed check,65.6,593.30,DSL,Nao,Sim,Nao,Sim,Sim,Nao
1,0003-MKNFE,Nao,Homem,0,Nao,Nao,9,Sim,Sim,Month-to-month,...,Mailed check,59.9,542.40,DSL,Nao,Nao,Nao,Nao,Nao,Sim
2,0004-TLHLJ,Sim,Homem,0,Nao,Nao,4,Sim,Nao,Month-to-month,...,Electronic check,73.9,280.85,Fiber optic,Nao,Nao,Sim,Nao,Nao,Nao
3,0011-IGKFF,Sim,Homem,1,Sim,Nao,13,Sim,Nao,Month-to-month,...,Electronic check,98.0,1237.85,Fiber optic,Nao,Sim,Sim,Nao,Sim,Sim
4,0013-EXCHZ,Sim,Mulher,1,Sim,Nao,3,Sim,Nao,Month-to-month,...,Mailed check,83.9,267.40,Fiber optic,Nao,Nao,Nao,Sim,Sim,Nao

In [ ]:
dados_unidos['Servico_internet'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [ ]:
dados_unidos['Tipo_contrato']=dados_unidos['Tipo_contrato'].map({'One year':'Anual',
                                                                 'Month-to-month':'Mes a Mes', 'Two year':'Bianual'})
dados_unidos['Metodo_pagamento']=dados_unidos['Metodo_pagamento'].map({'Mailed check':'Cheque por Email', 
                                                                       'Electronic check':'Cheque Eletronico', 
                                                                       'Credit card (automatic)':'Cartao Credito (automatico)',
       'Bank transfer (automatic)':'Transferencia Bancaria (automatico)'})

dados_unidos['Servico_internet']=dados_unidos['Servico_internet'].map({'DSL':'DSL', 'Fiber optic':'Fibra optica', 'No':'Nao'})

In [ ]:
dados_unidos['Idoso']=dados_unidos['Idoso'].map({0:'Nao',1:'Sim'})

In [ ]:
dados_unidos.head()

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Metodo_pagamento,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme
0,0002-ORFBO,Nao,Mulher,Nao,Sim,Sim,9,Sim,Nao,Anual,...,Cheque por Email,65.6,593.30,DSL,Nao,Sim,Nao,Sim,Sim,Nao
1,0003-MKNFE,Nao,Homem,Nao,Nao,Nao,9,Sim,Sim,Mes a Mes,...,Cheque por Email,59.9,542.40,DSL,Nao,Nao,Nao,Nao,Nao,Sim
2,0004-TLHLJ,Sim,Homem,Nao,Nao,Nao,4,Sim,Nao,Mes a Mes,...,Cheque Eletronico,73.9,280.85,Fibra optica,Nao,Nao,Sim,Nao,Nao,Nao
3,0011-IGKFF,Sim,Homem,Sim,Sim,Nao,13,Sim,Nao,Mes a Mes,...,Cheque Eletronico,98.0,1237.85,Fibra optica,Nao,Sim,Sim,Nao,Sim,Sim
4,0013-EXCHZ,Sim,Mulher,Sim,Sim,Nao,3,Sim,Nao,Mes a Mes,...,Cheque por Email,83.9,267.40,Fibra optica,Nao,Nao,Nao,Sim,Sim,Nao

In [ ]:
for i in dados_unidos.columns:
  print(f'{i}: {dados_unidos[str(i)].unique()}')

IDcliente: ['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
Evadiu: ['Nao' 'Sim']
Genero: ['Mulher' 'Homem']
Idoso: ['Nao' 'Sim']
Parceiro: ['Sim' 'Nao']
Dependencia: ['Sim' 'Nao']
Meses_de_contrato: [ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 37 49 66 67
 20 43 59 12 27  2 25 29 14 35 64 39 40 11  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 31 36 17 18 51 38 42
  0]
Servico_celular: ['Sim' 'Nao']
linhas_multiplas: ['Nao' 'Sim' 'Sem servico celular']
Tipo_contrato: ['Anual' 'Mes a Mes' 'Bianual']
Fatura_online: ['Sim' 'Nao']
Metodo_pagamento: ['Cheque por Email' 'Cheque Eletronico' 'Cartao Credito (automatico)'
 'Transferencia Bancaria (automatico)']
Gasto_mensal: [65.6  59.9  73.9  ... 91.75 68.8  67.85]
Gasto_total: [ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]
Servico_internet: ['DSL' 'Fibra optica' 'Nao']
Seguranca_online: ['Nao' 'Sim' 'Sem servico internet']
Backup_online: ['Sim' 'Nao' 'Sem servico internet']
Protecao_de_aparelho: ['Nao' 'Sim' 'Sem servico internet']
Suporte_tecnico: ['Sim' 'Nao' 'Sem servico internet']
Assinatura_tv: ['Sim' 'Nao' 'Sem servico internet']
Assinatura_filme: ['Nao' 'Sim' 'Sem servico internet']

## Criando Coluna Gastos Diarios

In [ ]:
dados_unidos['Gasto_diario'] = dados_unidos['Gasto_mensal']/30

In [ ]:
dados_unidos['Gasto_diario']

0       2.186667
1       1.996667
2       2.463333
3       3.266667
4       2.796667
          ...
7038    1.838333
7039    2.836667
7040    1.676667
7041    2.261667
7042    1.966667
Name: Gasto_diario, Length: 7043, dtype: float64

In [ ]:
dados_unidos.head()

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme,Gasto_diario
0,0002-ORFBO,Nao,Mulher,Nao,Sim,Sim,9,Sim,Nao,Anual,...,65.6,593.30,DSL,Nao,Sim,Nao,Sim,Sim,Nao,2.186667
1,0003-MKNFE,Nao,Homem,Nao,Nao,Nao,9,Sim,Sim,Mes a Mes,...,59.9,542.40,DSL,Nao,Nao,Nao,Nao,Nao,Sim,1.996667
2,0004-TLHLJ,Sim,Homem,Nao,Nao,Nao,4,Sim,Nao,Mes a Mes,...,73.9,280.85,Fibra optica,Nao,Nao,Sim,Nao,Nao,Nao,2.463333
3,0011-IGKFF,Sim,Homem,Sim,Sim,Nao,13,Sim,Nao,Mes a Mes,...,98.0,1237.85,Fibra optica,Nao,Sim,Sim,Nao,Sim,Sim,3.266667
4,0013-EXCHZ,Sim,Mulher,Sim,Sim,Nao,3,Sim,Nao,Mes a Mes,...,83.9,267.40,Fibra optica,Nao,Nao,Nao,Sim,Sim,Nao,2.796667

In [ ]:
dados_unidos.query('Meses_de_contrato == 1')

,IDcliente,Evadiu,Genero,Idoso,Parceiro,Dependencia,Meses_de_contrato,Servico_celular,linhas_multiplas,Tipo_contrato,...,Gasto_mensal,Gasto_total,Servico_internet,Seguranca_online,Backup_online,Protecao_de_aparelho,Suporte_tecnico,Assinatura_tv,Assinatura_filme,Gasto_diario
17,0021-IKXGC,Nao,Mulher,Sim,Nao,Nao,1,Sim,Sim,Mes a Mes,...,72.10,72.10,Fibra optica,Nao,Nao,Nao,Nao,Nao,Nao,2.403333
19,0023-HGHWL,Sim,Homem,Sim,Nao,Nao,1,Nao,Sem servico celular,Mes a Mes,...,25.10,25.10,DSL,Nao,Nao,Nao,Nao,Nao,Nao,0.836667
25,0032-PGELS,Sim,Mulher,Nao,Sim,Sim,1,Nao,Sem servico celular,Mes a Mes,...,30.50,30.50,DSL,Sim,Nao,Nao,Nao,Nao,Nao,1.016667
48,0082-LDZUE,Nao,Homem,Nao,Nao,Nao,1,Sim,Nao,Mes a Mes,...,44.30,44.30,DSL,Nao,Nao,Nao,Nao,Nao,Nao,1.476667
63,0107-WESLM,Sim,Homem,Nao,Nao,Nao,1,Sim,Nao,Mes a Mes,...,19.85,19.85,Nao,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,0.661667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6980,9907-SWKKF,Sim,Mulher,Sim,Nao,Nao,1,Nao,Sem servico celular,Mes a Mes,...,25.05,25.05,DSL,Nao,Nao,Nao,Nao,Nao,Nao,0.835000
7007,9940-RHLFB,Sim,Mulher,Nao,Nao,Nao,1,Sim,Nao,Mes a Mes,...,75.30,75.30,Fibra optica,Nao,Nao,Sim,Nao,Nao,Nao,2.510000
7021,9962-BFPDU,Nao,Mulher,Nao,Sim,Sim,1,Sim,Nao,Mes a Mes,...,20.05,20.05,Nao,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,0.668333
7033,9975-SKRNR,Nao,Homem,Nao,Nao,Nao,1,Sim,Nao,Mes a Mes,...,18.90,18.90,Nao,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,Sem servico internet,0.630000
7036,9985-MWVIX,Sim,Mulher,Nao,Nao,Nao,1,Sim,Nao,Mes a Mes,...,70.15,70.15,Fibra optica,Nao,Nao,Nao,Nao,Nao,Nao,2.338333

# <font color=Purple > Salvar os dados corrigidos </font>
#### **Detalhes de finalização:**
**Variáveis Quantitativas:**
* Gasto_mensal
* Gasto_total
* Meses_de_contrato
* Gasto_diários

**Variáveis Qualitativas:**
* IDcliente
* Evadiu
* Genero
* Idoso
* Parceiro
* Dependencia
* Servico_celular
* linhas_multiplas
* Tipo_contrato
* Fatura_online
* Metodo_pagamento
* Servico_internet
* Seguranca_online
* Backup_online
* Protecao_de_aparelho
* Suporte_tecnico
* Assinatura_tv
* Assinatura_filme

In [ ]:
dados_unidos.to_json('Telco-Customer-Churn-Corrigido.json')

In [ ]:
pd.read_json('Telco-Customer-Churn-Corrigido.json').columns

Index(['IDcliente', 'Evadiu', 'Genero', 'Idoso', 'Parceiro', 'Dependencia',
       'Meses_de_contrato', 'Servico_celular', 'linhas_multiplas',
       'Tipo_contrato', 'Fatura_online', 'Metodo_pagamento', 'Gasto_mensal',
       'Gasto_total', 'Servico_internet', 'Seguranca_online', 'Backup_online',
       'Protecao_de_aparelho', 'Suporte_tecnico', 'Assinatura_tv',
       'Assinatura_filme', 'Gasto_diario'],
      dtype='object')